<div class="mx-auto row">
    <div class="container col-sm-8">
              <h2>Alimentos</h2>              
    </div>    
    <div class="col container col-sm-4">               
        <a href="/Alimentos/add/" class="btn btn-success btn-block btn-sm">Agregar alimento nuevo &nbsp;&nbsp;&nbsp;<i class="fas fa-plus-square"></i></a>      
    </div>
</div>
<table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Precio</th>
            <th scope="col">Acción</th>
    {{#each alimento}}
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ name }}</td>
            <td>{{ ingredients }}</td>
            <td>{{ price }}</td>
            <td class="row">               
                <form action="/Alimentos/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">
                    <i class="fas fa-trash-alt"></i> 
                    </button>
                 </form>
                 &nbsp;&nbsp;&nbsp;
                 
                 <a class="btn btn-primary" href="/Alimentos/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                  
            </td>
            
            </tr>
        </tbody>

    {{/each}}
</table>