<table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
    {{#each bebida}}
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ name }}</td>
            <td>{{ price }}</td>
            <td>                
                <form action="/Bebidas/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                    <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                 </form>
            </td>
            <td>
                <h4 class="card-title d-flex justify-content-between align-items-center">
                <a href="/Bebidas/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
            </td>
            </tr>
        </tbody>
    {{ else }}
        <h1>Bienvenido {{user.name}}</h1>
        <p class="lead">No hay Bebidas</p>
        <a href="/Bebidas/add"  class="btn btn-success btn-block">Agregar Bebida!</a>
    {{/each}}
</table>